.triangle-close {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    transition: top 0.5s ease;
  }

/* Container styles */
.Container {
  margin-top: 20px;
}

/* Title styles */
.Typography {
  margin-bottom: 20px;
}

/* TextField styles */
.TextField {
  margin-bottom: 10px;
}

/* FormControl styles */
.FormControl {
  margin-bottom: 10px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* Table styles */
.TableContainer {
  margin-top: 20px;
}

/* TablePagination styles */
.TablePagination {
  margin-top: 20px;
}
